In [ ]:
!pip list

In [14]:
import pandas as pd

In [15]:
df = pd.read_csv("https://raw.githubusercontent.com/sagnikghoshcr7/Bank-Customer-Churn-Prediction/master/Churn_Modelling.csv")

In [16]:
df.columns

Index(['RowNumber', 'CustomerId', 'Surname', 'CreditScore', 'Geography',
       'Gender', 'Age', 'Tenure', 'Balance', 'NumOfProducts', 'HasCrCard',
       'IsActiveMember', 'EstimatedSalary', 'Exited'],
      dtype='object')

In [17]:
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [18]:
df.columns

Index(['RowNumber', 'CustomerId', 'Surname', 'CreditScore', 'Geography',
       'Gender', 'Age', 'Tenure', 'Balance', 'NumOfProducts', 'HasCrCard',
       'IsActiveMember', 'EstimatedSalary', 'Exited'],
      dtype='object')

In [19]:
df.drop(columns=['RowNumber','CustomerId','Surname'],inplace=True)

In [20]:
df.columns

Index(['CreditScore', 'Geography', 'Gender', 'Age', 'Tenure', 'Balance',
       'NumOfProducts', 'HasCrCard', 'IsActiveMember', 'EstimatedSalary',
       'Exited'],
      dtype='object')

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   CreditScore      10000 non-null  int64
 1   Geography        10000 non-null  object
 2   Gender           10000 non-null  object
 3   Age              10000 non-null  int64
 4   Tenure           10000 non-null  int64
 5   Balance          10000 non-null  float64
 6   NumOfProducts    10000 non-null  int64
 7   HasCrCard        10000 non-null  int64
 8   IsActiveMember   10000 non-null  int64
 9   EstimatedSalary  10000 non-null  float64
 10  Exited           10000 non-null  int64
dtypes: float64(2), int64(7), object(2)
memory usage: 859.5+ KB

In [22]:
df['Geography']

0        France
1         Spain
2        France
3        France
4         Spain
         ...
9995     France
9996     France
9997     France
9998    Germany
9999     France
Name: Geography, Length: 10000, dtype: object

In [23]:
df['Geography'].value_counts()

France     5014
Germany    2509
Spain      2477
Name: Geography, dtype: int64

In [24]:
df['Gender'].value_counts()

Male      5457
Female    4543
Name: Gender, dtype: int64

In [25]:
df['Age'].value_counts()

37    478
38    477
35    474
36    456
34    447
     ...
92      2
82      1
88      1
85      1
83      1
Name: Age, Length: 70, dtype: int64

In [26]:
df = pd.get_dummies(df,columns=['Geography','Gender'],drop_first=True)

In [27]:
df.head()

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_Germany,Geography_Spain,Gender_Male
0,619,42,2,0.00,1,1,1,101348.88,1,0,0,0
1,608,41,1,83807.86,1,0,1,112542.58,0,0,1,0
2,502,42,8,159660.80,3,1,0,113931.57,1,0,0,0
3,699,39,1,0.00,2,0,0,93826.63,0,0,0,0
4,850,43,2,125510.82,1,1,1,79084.10,0,0,1,0

In [28]:
X = df.drop(['Exited'],axis=1)

In [29]:
X.head()

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_Germany,Geography_Spain,Gender_Male
0,619,42,2,0.00,1,1,1,101348.88,0,0,0
1,608,41,1,83807.86,1,0,1,112542.58,0,1,0
2,502,42,8,159660.80,3,1,0,113931.57,0,0,0
3,699,39,1,0.00,2,0,0,93826.63,0,0,0
4,850,43,2,125510.82,1,1,1,79084.10,0,1,0

In [30]:
y=df['Exited']

In [31]:
import tensorflow
from tensorflow import keras

In [32]:
from tensorflow.keras import Sequential
from tensorflow.keras.layers import Dense

In [33]:
len(X.columns)

11

In [43]:
model = Sequential()
model.add(Dense(11,activation="sigmoid",input_dim=11))#input layer
model.add(Dense(11,activation="sigmoid"))#hidden layer
model.add(Dense(1,activation="sigmoid"))#output layer

In [44]:
model.summary()

Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_6 (Dense)             (None, 11)                132

 dense_7 (Dense)             (None, 11)                132

 dense_8 (Dense)             (None, 1)                 12

=================================================================
Total params: 276 (1.08 KB)
Trainable params: 276 (1.08 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [45]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size = 0.2,random_state=0)

In [49]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

X_train_scale = scaler.fit_transform(X_train)
X_test_scale = scaler.transform(X_test)

In [50]:
model.compile(optimizer="Adam",loss="binary_crossentropy",metrics=["accuracy"])

In [51]:
model.fit(X_train_scale,y_train,batch_size=50,epochs=10,verbose=1)

Epoch 1/10
160/160 [==============================] - 6s 3ms/step - loss: 0.5528 - accuracy: 0.7843
Epoch 2/10
160/160 [==============================] - 0s 3ms/step - loss: 0.4913 - accuracy: 0.7960
Epoch 3/10
160/160 [==============================] - 1s 4ms/step - loss: 0.4792 - accuracy: 0.7960
Epoch 4/10
160/160 [==============================] - 1s 4ms/step - loss: 0.4676 - accuracy: 0.7960
Epoch 5/10
160/160 [==============================] - 1s 4ms/step - loss: 0.4560 - accuracy: 0.7960
Epoch 6/10
160/160 [==============================] - 1s 5ms/step - loss: 0.4451 - accuracy: 0.7962
Epoch 7/10
160/160 [==============================] - 1s 3ms/step - loss: 0.4367 - accuracy: 0.8016
Epoch 8/10
160/160 [==============================] - 1s 3ms/step - loss: 0.4314 - accuracy: 0.8133
Epoch 9/10
160/160 [==============================] - 0s 3ms/step - loss: 0.4278 - accuracy: 0.8127
Epoch 10/10
160/160 [==============================] - 0s 3ms/step - loss: 0.4257 - accuracy: 0.8151

In [52]:
y_pred=model.predict(X_test_scale)

63/63 [==============================] - 0s 2ms/step

In [53]:
y_pred

array([[0.21461388],
       [0.36656576],
       [0.14581755],
       ...,
       [0.1594599 ],
       [0.11819738],
       [0.19439149]], dtype=float32)

In [54]:
y_pred=y_pred.argmax(axis=-1)

In [55]:

from sklearn.metrics import accuracy_score
accuracy_score(y_test,y_pred)

0.7975